{% extends 'admin_base.html' %}
{% block content %}

  <!-- ======= Sidebar ======= -->
<head>
  <style>
    .edit{
      background-color:rgb(8, 8, 84);
      text-align:center;
      color:rgb(255, 255, 255);
      border-radius:5px;
      padding:5px 10px;
      font-size:13px;
      border:none;
      margin:3px;
    }
    .edit:hover{
      background-color: rgb(0, 149, 255);
    }
    .delete{
      background-color:rgb(102, 24, 24);
      text-align:center;
      color:white;
      border-radius:5px;
      padding:5px 10px;
      font-size:13px;
      border:none;margin:3px;
    }
    .delete:hover{
      background-color: rgb(232, 26, 26);
    }
  </style>
</head>

  <main id="main" class="main">
    <div class="pagetitle">
      <h1 style="color: rgb(0, 0, 0);"> Product Management</h1>
     
    </div><!-- End Page Title -->
    <section class="section">
          <div>
            <div >
              <h5 class="card-title" style="color: rgb(0, 0, 0);">Your Products</h5>
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">ID</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">NAME</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">PRICE</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">CATEGORY</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">DESCRIPTION</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">STATUS</th>
                  </tr>
                </thead>
<!--                /////////////////////////////////////////////////////////////////////////////-->
                <tbody>
              {% for product in products %}
                  <tr>
                    <td style="font-size:13px;border-radius: 10px;"><img src="media/{{product.image_1}}" width="50px"></td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.name}}</td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.price}}</td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.category}}</td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.description}}</td>
                    {% if product.available_status == 'availabe' %}
                    <td><div style="padding: 5px;background-color: rgb(0, 207, 69);width: 50px;"></div></td>
                    {% else %}
                    <td><div style="padding: 5px;background-color: rgb(219, 17, 17);width: 50px;"></div></td>
                    {% endif %}
                    <td style="display:flex;">
                      <form action="/admin_edit_Product" >
                      <button name="action" type="submit" onclick="return confirm('Be careful while you edit, Are you sure you want to do this?')" value="edit" class="edit">
                        Edit
                      </button>
                      <button name="action" type="submit"  onclick="return confirm('Are you sure to delete this product?')" value="delete" class="delete">
                        Delete
                      </button>
                      <input name = 'product_id'   value="{{product.id}}" style="display: none;">
                      </form>
                    </td>
                  </tr>
               {% endfor %}

                </tbody>
              </table>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

{%endblock%}