{% extends 'admin_base.html' %}
{% block content %}

  <!-- ======= Sidebar ======= -->
<head>
  <style>
    .edit{
      background-color:rgb(8, 8, 84);
      text-align:center;
      color:rgb(255, 255, 255);
      border-radius:5px;
      padding:5px 10px;
      font-size:13px;
      border:none;
      margin:3px;
    }
    .edit:hover{
      background-color: rgb(0, 149, 255);
    }
    .delete{
      background-color:rgb(102, 24, 24);
      text-align:center;
      color:white;
      border-radius:5px;
      padding:5px 10px;
      font-size:13px;
      border:none;margin:3px;
    }
    .delete:hover{
      background-color: rgb(232, 26, 26);
    }
  </style>
</head>

  <main id="main" class="main container">
    <div class="pagetitle">
      <h1 style="color: rgb(0, 0, 0);"> Product Management</h1>
     
    </div><!-- End Page Title -->
    <section class="section col-lg-12 col-md-12">
          <div>
            <div >
              <h5 class="card-title" style="color: rgb(0, 0, 0);">Your Products</h5>
<!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
              <!-- Default Table -->
              {% if products %}
              <table class="table">
                <thead>
                  <tr>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">ID</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">NAME</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">PRICE</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">CATEGORY</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">DESCRIPTION</th>
                    <th style="font-size:13px;color: rgb(0, 0, 0);" scope="col">STATUS</th>
                  </tr>
                </thead>
<!--                /////////////////////////////////////////////////////////////////////////////-->
                <tbody>
              {% for product in products %}
                  <tr>
                    <td style="font-size:13px;border-radius: 10px;"><img src="media/{{product.image_1}}" width="50px"></td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.name}}</td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.price}}</td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.category}}</td>
                    <td style="font-size:13px;color: rgb(0, 0, 0);">{{product.description}}</td>
                    {% if product.available_status == 'availabe' %}
                    <td><div style="padding: 5px;background-color: rgb(0, 207, 69);width: 50px;"></div></td>
                    {% else %}
                    <td><div style="padding: 5px;background-color: rgb(219, 17, 17);width: 50px;"></div></td>
                    {% endif %}
                    <td style="display:flex;">
                      <form action="/admin_edit_Product" id="sf" method="GET">
                      <input onclick=" return swal('edit')" value="edit" class="edit">
                        
                      <input  onclick=" return swal('delete')" value="delete" class="delete">
                     
                      <input name='product_id'   value="{{product.id}}" style="display: none;">
                      <input name='action' style="display: none;" type="text" id="action">
                      </form>
                    </td>
                  </tr>
               {% endfor %}

                </tbody>
              </table>
              {% else %}
              <div>
           
                <div style="text-align: center;margin: 30px;">
                            <img src="/media/message_images/no data.png"  width="30%">
              
                </div>
                <div style="color: black;text-align: center;font-size: 20px;">Oops! You have no Products</div>
                <p style="color: rgb(133, 127, 127);text-align: center;">
                please add some products to manage it.
                </p>
              </div>
              {% endif %}
             
        </div>
      </div>
    </section>
    <!-- pagination -->
    <form action="/admin_list_product" method="POST">
      {% csrf_token %}
       <nav aria-label="Page navigation example">
      <ul class="pagination" >
        <li class="page-item " id="disable_p">
          <button class="page-link" type="submit" name="page_number" value="{{current_page|add:'-1'}}" onmouseover="if(this.value == '0'){document.getElementById('disable_p').classList.add('disabled')}">Previous</button>
        </li>
        
        
        {% for i in available_pages %}
          <li class="page-item">
            <input type="text" name="duration" value="{{duration}}"  style="display: none;">
    <input value ='{{forloop.counter}}' class="page-link" type="submit" name="page_number"></li>
        {% endfor %}
        <li class="page-item" id="disable_n">
          <button class="page-link" type="submit" name="page_number" value="{{current_page|add:'1'}}" onmouseover="if(this.value > '{{available_pages|length}}'){document.getElementById('disable_n').classList.add('disabled')}">Next</button>
        </li>
      </ul>
    </nav><!-- End Left/Start Pagination -->
    </form>
  </main><!-- End #main -->
  <script>
    function  swal(task){
      var status = false
          Swal.fire({
              title: 'Are you sure? ',
              showDenyButton: true,
              showCancelButton: true,
              confirmButtonText: 'yes',
              cancelButtonText: 'Go back',
              }).then((result) => {
              /* Read more about isConfirmed, isDenied below */
              // console.log(result)
              if(result.value == true){
              document.getElementById('action').value = task
              document.getElementById('sf').submit()
              }
          })
          return false
      }

  </script>
{%endblock%}