{% extends 'admin_base.html' %}
{% block content %}

<!-- ======= Sidebar ======= -->

<head>
  <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->

  <style>
    #table_title {
      color: rgb(115, 115, 117);
      text-transform: uppercase;
      font-size: 1rem;
    }


  </style>
</head>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Control Users</h1>
  </div><!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <!--////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
            <!-- Default Table -->
            <table class="table" id="table_title">
              <thead>
                <tr>
                  <th scope="col">Mail Id</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Block/Unblock</th>
                </tr>
              </thead>
              <!--                /////////////////////////////////////////////////////////////////////////////-->
              <tbody>
                {% for user in users %}
                <tr>
                  <td>{{user.full_name}}</td>
                  <td>{{user.contact_number}}</td>
                  <td>
                    <div class="form-check form-switch">
                      {% if user.active_status == 'active' %}
                      <div style="display:flex ;justify-content: space-between;">
                          <p>UnBlocked</p>
                          <input class="form-check-input" type="checkbox" id="active{{user.email}}"
                          onchange="update_status('{{user.email}}')" >
                      </div>
                     
                      {% else %}
                      <div style="display:flex ;justify-content: space-between;">      
                          <p>Blocked</p>
                          <input class="form-check-input" type="checkbox" id="active{{user.email}}"
                          onchange="update_status('{{user.email}}')" checked>

                      </div>
               
                      {% endif %}
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->


<script>
  $(document).ready(function () {
    console.log('your document is ready');
    
  })
  function update_status(email) {

        Swal.fire({
        title: 'You are trying to change the status of your customer?',
        showDenyButton: true,
        showCancelButton: true,
        confirmButtonText: 'I know',
        cancelButtonText: 'Go back',
        }).then((result) => {
            status = document.getElementById('active' + email).checked
            console.log(status)
        /* Read more about isConfirmed, isDenied below */
        console.log(result)
          if(result.value == true){
              change()
          }else{

            if(status == 'true'){
              document.getElementById('active' + email).checked = false
            }
            else if(status == 'false'){
              document.getElementById('active' + email).checked = true
            }
          }
  
        })
        

        function change(){
            status = document.getElementById('active' + email).checked
            $.ajaxSetup({
            data: { csrfmiddlewaretoken: '{{csrf_token}}' },
            });
            $.ajax({
            url: '/admin_update_user_status',
            data: { 'status': status, 'email': email },
            method: 'POST',
            success: function (response) {
            if (response['status'] == 'block') {
            console.log('user blocked successfully')
            }
            else if (response['status'] == 'active') {
            console.log('user is now active')
            }
            window.location.reload()
            },
            error: function () {
            console.log('ajax is not working')
            }
            });
        }
       
  };
</script>

{%endblock%}