{% extends 'user_base.html' %}
{% block content %}
{% load static %}
<body>
 <script>
    $(document).ready(function(){
        Swal.fire({
            title: 'sorry, you have no products in your cart. ',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'ok',
            cancelButtonText: 'Go back',
            }).then((result) => {
                if(result.value == true){
                    window.location.href = '/'
                }
                else{
                    window.location.href = '/'
                }
            })
    })
 </script>
 {% endblock %}
</body>
</html>